body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  overflow: hidden;
  padding-bottom: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.link {
  color: var(--colors-interface-accent);
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container._header {
  /* max-width: calc(1240px + 20px * 2); */
  padding: 0 20px;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: calc(var(--offset-base-size) * 2);
}

.gap-5 {
  gap: calc(var(--offset-base-size) * 5);
}

.gap-10 {
  gap: calc(var(--offset-base-size) * 10);
}

.gap-6 {
  gap: calc(var(--offset-base-size) * 6);
}

.gap-8 {
  gap: calc(var(--offset-base-size) * 8);
}

.col {
  max-width: 600px;
  flex-grow: 1;
}

.center-page {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 6);
  height: calc(100vh - 96px);
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}