body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container._header {
  /* max-width: calc(1240px + 20px * 2); */
  padding: 0 20px;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.gap-20 {
  gap: calc(var(--offset-base-size) * 20);
}